.list{
	border-style:solid;
	background-color:#CCCCCC;
	font-size:1.2em;
}
td.right{
	background-color:#999999;
	color:white;
}
table{
	border-collapse:collapse;
}
table, th, td{
	border: 1px solid black;
}
