@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

header, section, footer, aside, nav, article, figure
{
    display: block;
}

html, body
{
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: rgb(28, 28, 28);
}

body
{
    font-family: 'Open Sans', sans-serif; 
    font-size: 16px;
}

p
{
    max-width: 1000px;
}

pre
{
    background-color: rgb(58, 58, 58);
    white-space: pre-wrap;
}

#mainHeader
{
    border-bottom: 1px solid black;
    background-color: rgb(0, 70, 127);
    font-size: 50px;
    font-weight: bold;
    text-shadow: 0px 0px 40px rgb(0, 0, 0);
    word-wrap: break-word;
    padding-bottom: 10px;
} 

h1
{
    border-bottom: 5px rgb(103, 103, 103) solid;
}

h2
{
    border-bottom: 5px rgb(0, 70, 127) solid;
}

h3
{
    border-bottom: 3px rgb(0, 71, 128) solid;
}

nav
{
    float: left;
    font-size: 20px;
    padding-left: 10px;
    border-color: rgb(103, 103, 103);
    border-left-style: solid;
}

nav a
{
    line-height: 1.5;
}

#container
{
    min-height: 100%;
    position: relative;
    color: rgb(255, 255, 255);
}

#content
{
    padding-bottom: 65px; 
    padding-left: 170px;
    word-wrap: break-word;
}  

footer
{
    background-color: rgb(20, 20, 20);
    width: 100%;
    height: 30px;
    padding-top: 5px;
    padding-bottom: 3px;
    position: absolute; 
    bottom: 0;
    text-align: left;
}

ul.blog
{
    list-style: none;
}

img[alt = imageSize10Percent] 
{
    width: 10%;
    height: 10%;
}

img[alt = imageSize25Percent]
{
    width: 25%;
    height: 25%;
}

img[alt = imageSize50Percent] 
{
    width: 50%;
    height: 50%;
}

img[alt = imageSize75Percent] 
{
    width: 75%;
    height: 75%;
}

/* links */
img a
{
    text-decoration: none; 
}

a
{
    color: #006ee6;
    text-decoration: none; 
}

a:visited
{
    color: #006ee6;
}

a:hover
{
    color: #00Aee6;
}

a:active
{
    color: gray;
}

/* nav links */
nav a, nav a:visited
{
    color: rgb(255, 255, 255);
    font-weight: 500;
    text-decoration: none;
}

nav a:hover
{
    color: rgb(190, 190, 190);
    text-decoration: none;
}

nav a:active
{
    color: rgb(150, 150, 150);
}

/* mobile */

@media (orientation: portrait)
{    
    #mainHeader
    {
        font-size: 45px;
    }
    
    #content
    {
        padding-left: 0px;
    }
    
    nav
    {
        font-size: 20px;
        float: none;
        padding-left: 0px;
        border-left-style: none;
        border-bottom-style: solid;
    }
}
