@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

header, section, footer, aside, nav, article, figure
{
    display: block;
}

html, body
{
    margin: 0;
    padding: 0;
    height: 100%;
     
}

body
{
    font-family: 'Open Sans', sans-serif; 
    font-size: 16px;
}

h1
{
    border-bottom: 5px #676767 solid;
}

h2
{
    border-bottom: 5px #6F91C5 solid;
}

nav
{
    float: left;
    font-size: 20px;
    padding-left: 10px;
    border-left-style: inset;
}

nav a
{
    line-height: 1.5;
}

#container
{
    min-height: 100%;
    position: relative;
}

#content
{
    padding-bottom: 65px; 
    padding-left: 170px;
}

#main_header
{
    border-bottom-style: double;
    background-color: #678EB3;
}   

footer
{
    background-color: #999999;
    width: 100%;
    height: 30px;
    padding-top: 5px;
    padding-bottom: 3px;
    position: absolute; 
    bottom: 0;
    text-align: left;
}

img a
{
    text-decoration: none; 
}
/* links */

a
{
    color: #3B3BE6;
    text-decoration: none; 
}

a:visited
{
    color: #3B3BE6;
}

a:hover
{
    color: #0074d9;
}

a:active
{
    color: gray;
}

/* nav links */
nav a
{
    color:#000000;
    font-weight: 500;
    text-decoration: none;
}

nav a:visited
{
    color:#000000;
    font-weight: bold;
    text-decoration: none;
    border-bottom-style: none;
}

nav a:hover
{
    color: gray;
    text-decoration: none;
}

nav a:active
{
    color: lightgray;
}